body {
  font: 16px/2 Courier New, Lucida Console, serif;
   padding: 0;
   margin: 0;
   background-color: black;
   background-repeat: no-repeat;
}

#team_images {
  margin-bottom: 25px;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  overflow: hidden;
    grid-area:
      "juho essi"
      "eelis osku"
      "contact contact"
}
#team_images h3 {
  color: white;
}
#team_images p {
  display: inline;
  background-color: #af111c;
  opacity: 0.8;
  color: white;
}
#team_images img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #af111c;
  box-shadow: 5px 5px 30px #af111c;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}
#team_images img:hover {
  border-radius: 20%;
}
.dictator {
  font-family: "8BITWONDERNominal";
  font-size: 14px;
  color: #af111c;
  opacity:  0.7;
}

/*DANKEST DUNGEON TEXT*/
.dankest {
  font-size: 45px;
  opacity: 0.3;
  font-family: "8BITWONDERNominal";
  position: absolute;
  color: red;
  bottom: 75px;
  left: 20px;
}
.dungeon {
  font-size: 45px;
  opacity: 0.4;
  font-family: "8BITWONDERNominal";
  position: absolute;
  color: #af111c;
  bottom: 20px;
  left: 85px;
}
#logo img {
  opacity: 0.8;
  width: 100%;
  height: auto;
}

/* NAVIGATION */
.nav {
  padding-top: 20px;
  padding-right: 20px;
  min-height: 50px;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.nav li {
  float: right;
  bottom: 20px;
  margin-right: 2px;
  display: inline-block;
  padding: 20px;
}
.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 15px;
  padding-right: 10px;
  font-family: "8BITWONDERNominal";
  opacity: 0.5;
}
.nav ul li a:hover {
  color: #af111c;
}
.current .highlight_home a {
  color: white;
}
.current a {
  color: #af111c;
}

/* MAIN eli SIVUN PÄÄOSA */
.main {
  width: 75%;
  padding: 50px;
  margin: 35px;
}
.main h1 {
  color: #af111c;
  opacity: 0.8;
  text-transform: capitalize;
  text-align: center;
}
.main h3 {
  color: white;
  text-align: justify;
}
.main p {
  color: white;
  text-align: justify;
}
/* FOOTER ELI COPYRIGHT */
.footer {
  border-top: 1px solid #af111c;
}
.footer p {
  text-align: center;
  color: #f4f4f4;
}
.highlight_footer {
  font-family: "8BITWONDERNominal";
}
/* LINK PAGE */

/*.link_head {
  box-shadow: 5px 5px 25px grey;
}*/

.responsive .darkestdungeon img {
  width: 400px;
  height: auto;
  border-radius: 0%;
}
.responsive {
  border-left: 2px solid #af111c;
  padding: 20px;
  margin: 35px;
}
.responsive h3 {
  color: white;
}
.responsive h3:hover {
  color: #af111c;
}
.responsive img {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;

  overflow: auto;
  float: left;
  border-radius: 50%;
  width: 100px;
  height: auto;
  opacity: 0.75;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}
.w3s img {
  margin-left: 0px;
  padding-left: 0px;
  width: 150px;
  height: auto;
}
.responsive img:hover {
  filter: drop-shadow(8px 8px 10px gray);
  opacity: 1;
}
.responsive img:visited {
  border-left: 5px solid #af111c;
}
.responsive img:active {
  border: 1px solid #af111c;
}

.responsive p {
  color: white;
  margin: 20px;
  padding: 35px;
}
.link_head {
  color: white;
}
.link_head {
  margin: 35px;
  padding: 50px;
}
/* About page */
.walkthrough {
	color: white;
	width: 75%;
	height: auto;
	margin: 35px;
	padding: 50px;
}

.walkthrough h1 {
	text-align: center;
	color: #af111c;
	opacity: 0.8;
	text-transform: capitalize;
}

.walkthrough h3, .walkthrough p {
	text-align: justify;
	color: white;
}

.enemies {
	margin-bottom: 25px;
	padding: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	overflow:hidden;
		grid-area:
			"enemy1 enemy2"
			"enemy3 enemy4"
			"enemy5 ."
}

.enemies h3 {
	color: #af111c
}

.enemies p {
	display: inline;
	color: white;
	opacity: 0.8;
}

.enemies img {
	width: 200px;
	height: auto;
	border-radius: 50%;
	border: 1px solid #af111c;
	box-shadow: 5px 5px 30px #af111c;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 25px;
}
